<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" class="p-4 shadow rounded">
    <h2 class="text-center text-primary mb-4">Sign Up</h2>
    <div class="mb-3">
        <input type="text"
            class="form-control"
            name="username"
            [(ngModel)]="model.username"
            placeholder="Username"
            required>
    </div>
    <div class="mb-3">
        <label>who is your favorite user?</label>
        <select class="form-select">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <input type="password"
            class="form-control"
            name="password"
            [(ngModel)]="model.password"
            placeholder="Password"
            required>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-success" type="submit">Register</button>
        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
